@use './variables';

.form {
    background-color: #f6f6f7;
    padding: .5rem 1rem;

    @media screen and (min-width: 960px) {
        width: 20%;
    }

    &__button {
        width: 100%;
        padding: .5rem;
        background-color: variables.$primary-color;
        color: white;
        border: none;

        @media screen and (min-width: 960px) {
            display: none;
        }
    }

    &__container {
        display: none;

        &--visible {
            display: initial;
        }

        @media screen and (min-width: 960px) {
            display: initial;
        }
    }

    &__heading {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: 600;

        @media screen and (min-width: 960px) {
            margin-top: initial;

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4px;
        padding-bottom: .5rem;


        &:not(:last-child) {
            // border-bottom: 1px solid variables.$primary-color;
        }

        @media screen and (min-width: 960px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__label {
        font-size: 22px;
        font-weight: 300;
    }

    &__input {
        width: 18px;
        height: 18px;
        margin-right: 6px;
        appearance: none;
        border-radius: 4px;
        border: 2px solid variables.$primary-color;

        &:checked {
            background-color: variables.$primary-color;
        }

        &:disabled {
            border-color: #c0c0c0;
            background-color: #c0c0c0;
        }
    }
}