@use "styles/variables";

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: variables.$primary-color;
    height: 3rem;

    &__title {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    &__button {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 25px;

        &:hover {
            cursor: pointer;
        }
    }

    &__menu {
        display: none;

        &--active {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 100%;
            position: absolute;
            top: 48px;
            left: 0;
            background-color: variables.$primary-color;
            padding: 1rem;
            z-index: 1;
        }
    }

    &__link {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        text-align: center;

        &:hover {
            font-weight: 800;
        }
    }
}