@use 'styles/variables.scss';

.homepage {
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../public/friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    &__title {
        font-size: 20px;
        color: #001d3d;
    }

    &__description {
        font-size: 14px;
        color: #2b2d42;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        width: 360px;
        padding: 16px;
        border-radius: 6px;

        @media screen and (min-width: 420px) {
            width: 420px;
        }
    }

    &__input {
        margin-top: 8px;
        width: 100%;
        padding: 8px;
        text-align: center;
        border: none;
        border-radius: 4px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &--submit {
            margin-top: 8px;
            color: white;
            background-color: variables.$primary-color;

            &:hover {
                cursor: pointer;
            }
        }

    }

    &__cta {
        font-size: 20px;
        position: relative;
        max-width: 320px;
        color: variables.$primary-color;

        &::before,
        &::after {
            content: " ";
            height: 2px;
            width: 127.5px;
            display: block;
            position: absolute;
            background: variables.$primary-color;

            @media screen and (min-width: 420px) {
                width: 155px;
            }
        }

        &::before {
            margin-left: 50px;
            top: 50%;
            left: 0;
        }

        &::after {
            margin-right: 50px;
            top: 50%;
            right: 0;
        }
    }
}