@use './variables';

.pets {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__container {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
            margin-top: initial;
            width: 80%;
        }
    }

    &__wrapper {
        margin-top: .5rem;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        flex-wrap: wrap;
    }

    &__link {
        flex-basis: 48%;

        @media screen and (min-width: 768px) {
            flex-basis: 32%;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 24%;
        }
    }
}